In [1]:
import sys
import os

sys.path.append(os.path.abspath(".."))
import psycopg as psy
from tabulate import tabulate
from psycopg.rows import dict_row
import pandas as pd
from functions.conect_db import connect_to_db, connection_string
from functions.create_tables import create_tables
from functions.create_indexes import create_all_indexes
from functions.create_triggers import create_all_triggers
from functions.drop_tables import drop_tables, table_names_from_sql
from functions.inserts import insert_generic

### Conectando ao banco de dados

In [2]:
conn_info = connect_to_db()
connection_string = connection_string()
print(connection_string)

Connected to database
You are connected to -  ('PostgreSQL 18.0 on x86_64-windows, compiled by msvc-19.44.35217, 64-bit',)
postgresql+psycopg2://postgres:ufsc2025@localhost:5432/smart_city_os

### Criando tabelas

In [6]:
file = '../sql/create_tables.sql'
tables_created = create_tables(conn_info, file, 'public')
print('Created table(s):')
for table in tables_created:
    print(f" - {table}")

Created table(s):
 - app_user
 - app_user_notification
 - audit_log
 - citizen
 - fine
 - fine_payment
 - notification
 - payment_method
 - reading
 - sensor
 - traffic_incident
 - vehicle
 - vehicle_citizen

### Dropando tabelas

In [5]:
tables = table_names_from_sql('../sql/create_tables.sql')

print(f'Dropped table(s):')
for name in reversed(tables):
    drop_tables(conn_info, [name])
    print(f" - {name}")
print()
print(f'Dropped {len(tables)} tables successfully')

Dropped table(s):
 - audit_log
 - app_user_notification
 - fine_payment
 - fine
 - traffic_incident
 - vehicle_citizen
 - reading
 - vehicle
 - sensor
 - citizen
 - app_user
 - payment_method
 - notification

Dropped 13 tables successfully

### Criando Trigger para Auditoria

In [7]:
file_func = r"C:\Users\felip\OneDrive\git_work\smart-city-os\sql\trigger_functions.sql"
file_trig = r"C:\Users\felip\OneDrive\git_work\smart-city-os\sql\triggers.sql"
create_all_triggers(conn_info, file_func, file_trig)

Database triggers created successfully

### Criando √çndices

In [8]:
file_in = r"C:\Users\felip\OneDrive\git_work\smart-city-os\sql\index.sql"
create_all_indexes(conn_info, file_in)

Database indexes created successfully

### Inserts de Teste

In [7]:
insert_generic(conn_info,'app_user','public',('Paul', 'Doey', '12345678904', '1990-01-01', 'paul.doey@example.com', '12345678903', '123456 Main St', 'pauldoe', 'password_hash'),['id','first_name','email'])

Inserted test record with columns: {'id': 8, 'first_name': 'Paul', 'email': 'paul.doey@example.com'}

In [8]:
def query_db(conn_info, query):
    query_upper = query.strip().upper()
    if not query_upper.startswith("SELECT"):
        raise ValueError("Only SELECT queries are allowed")
    with psy.connect(conn_info, row_factory=dict_row) as conn:
        with conn.cursor() as cur:
            cur.execute(query)
            rows = cur.fetchall()
            return rows
query = "SELECT * FROM app_user;"
try:
    result = query_db(conn_info, query)
except Exception as e:
    print(f"Error: {e}")
    result = []
#print(result)

print(tabulate(result, headers="keys", tablefmt="github"))

|   id | first_name   | last_name   |         cpf | birth_date   | email                   |       phone | address        | username   | password_hash   | created_at                 | updated_at                 |
|------|--------------|-------------|-------------|--------------|-------------------------|-------------|----------------|------------|-----------------|----------------------------|----------------------------|
|    1 | John         | Doe         | 12345678901 | 1990-01-01   | john.doe@example.com    |  1234567890 | 123 Main St    | johndoe    | password_hash   | 2026-01-02 10:10:06.632570 | 2026-01-02 10:10:06.632570 |
|    3 | Johnny       | Doe         | 12345678902 | 1990-01-01   | johnny.doe@example.com  | 12345678901 | 1234 Main St   | johnnydoe  | password_hash   | 2026-01-02 10:11:07.970798 | 2026-01-02 10:11:07.970798 |
|    6 | Johnnyy      | Doey        | 12345678903 | 1990-01-01   | johnnyy.doe@example.com | 12345678902 | 12345 Main St  | johnnyydoe | password_hash   | 2026-01-02 10:13:54.233451 | 2026-01-02 10:13:54.233451 |
|    8 | Paul         | Doey        | 12345678904 | 1990-01-01   | paul.doey@example.com   | 12345678903 | 123456 Main St | pauldoe    | password_hash   | 2026-01-02 10:14:35.480412 | 2026-01-02 10:14:35.480412 |

In [9]:
def query_to_df(query, connection_string):
   query_upper = query.strip().upper()
   if not query_upper.startswith("SELECT"):
      raise ValueError("Only SELECT queries are allowed")
   df = pd.read_sql(query, connection_string)
   return df

query = "SELECT * FROM audit_log"
df = query_to_df(query, connection_string)
df.head()

Empty DataFrame
Columns: [id, table_name, operation, row_id, old_values, new_values, app_user_id, changed_at]
Index: []

In [ ]:
query = "SELECT * FROM audit_log;"
df_log = pd.read_sql_query(query, connection_string)
df_log